@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.myName {
    font-weight: 100;
    margin-left: 1rem;
    transform: scaleX(0.6);
}
.navBar {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    background-color: black;
    color: aliceblue;
    border-bottom: 1px solid aliceblue;
}
.menu {
    display: flex;
    justify-content: flex-end;
}

a:link {
    color: aliceblue;
    text-decoration: none;
}

a:visited {
    color: aliceblue;
}

a:hover {
    transform: scale(2);
    color: aqua;
}

.menuText {
    margin-left: 2rem;
    margin-right: 2rem;
}

main {
    background-color: black;
    color: aliceblue;
    height: 100vh;
}
.description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    height: 90vh;
    margin-left: 2rem;
    margin-right: 2rem;
}

/* .myName {
    font-size: 57px;
    margin-bottom: 0;
} */

.myTags {
    margin: 0;
    padding: 0;
    font-size: 8rem;
    font-family: "Oswald", sans-serif;
    transform: scaleY(1.8);
    /* font-style: italic; */
}

.descriptionText {
    margin: 3px;
}

.contactForm {
    display: flex;
    flex-direction: column;
}
